<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.EcospherePartner">
        <activity
            android:name=".feature.jobs.Jobs"
            android:exported="false" />
        <activity
            android:name=".feature.setting.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".feature.attendance.AttendanceMap"
            android:exported="false" />
        <activity
            android:name=".feature.webactivity.PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".feature.webactivity.WebActivity"
            android:exported="false" />
        <activity
            android:name=".feature.patients.AddPatient"
            android:exported="false" />
        <activity
            android:name=".feature.login.ui.LoginAct"
            android:exported="false" />
        <activity
            android:name=".feature.permissions.ui.PermissionsAct"
            android:exported="false" />
        <activity
            android:name=".feature.splash.SplashAct"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.main.MainActivity"
            android:exported="false" />

        <service
            android:name=".feature.tracking.service.LocationTrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />

        <receiver
            android:name=".feature.tracking.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".feature.tracking.receiver.PackageReplacedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmaR3DSseRPUCCvGT0Ru8aK-Jrm39NlTE" />
    </application>

</manifest>